body{
  background:rgb(131, 130, 151);    
}

.main-box {
  background: rgb(198, 198, 223);
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  -webikt-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table a.table-link.danger {
  color: #e74c3c;
}
.label {
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 600;
}
.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}
.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;  
  margin-left: 60px;
}
a {
  color: #3483b8;
  outline: none!important;
}
.user-list tbody td>img {
  position: relative;
  max-width: 50px;  
  margin-right: 15px;
}

.table thead tr th {
  text-transform: uppercase;
  font-size: 0.875em;
}
.table thead tr th {
  border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
  font-size: 1.125em;
  font-weight: 300;
}
.table tbody tr td  {
  font-size: 1.0em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;  
  width: 200px;  
  text-align: center;
  vertical-align: middle;
}

.table tbody tr td .userId {
  width: 25px;
}

.user-list tbody tr:hover {
  background-color:rgb(188, 221, 151);
}

.vehicle-list {
  background-color:rgb(188, 221, 151);
}

.leaflet-container {
  height: 500px;
  width: 99%;
}